{% extends "base.html" %}
{% block title %}Activitytracker{% endblock %}
{% block content %}
<h2>{{ groupname }}</h2>
Lisää tietoa ryhmästä: {{ info[0] }}
<br>
<br>
Jäsenmäärä: {{ count[0] }}
<br>
{% if ingroup %}
<p style="color: green;">Olet ryhmän jäsen</p>
{% else %}
<a href="/joingroup/{{ groupname }}">Liity ryhmään</a>
{% endif %}
<h2>Ryhmän julkaisut</h2>
<hr>
{% for post in posts %}
<i>Laji:</i> {{ post[0] }}
<p>
<i>Kesto:</i> {{ post[1] }}
<p>
<i>Extra:</i> {{ post[2] }}
<p>
<i>Lähettäjä:</i> {{ post[3] }}
<p>
<i>Aika:</i> {{ post[4].strftime("%Y-%m-%d %H:%M:%S") }}
<hr>
{% endfor %}
{% endblock %}