{% extends "base.html" %}
{% block title %}Activitytracker{% endblock %}
{% block content %}
<h2>{{ username }}</h2>
<b>Ryhmät</b>
<br>
{% for group in groups %}
{{ group[0] }}
<br>
{% endfor %}
<br>
<b>Tapahtumat</b>
<br>
{% for event in events %}
{{ event[0] }}
<br>
{% endfor %}
<hr>
<b>Julkaisut:</b>
<br>
{% for post in posts %}
<i>Laji:</i> {{ post[0] }}
<p>
<i>Kesto:</i> {{ post[1] }}
<p>
<i>Extra:</i> {{ post[2] }}
<p>
<i>Aika:</i> {{ post[3].strftime("%Y-%m-%d %H:%M:%S") }}
<hr>
{% endfor %}
<br>
{% endblock %}
